# Виртуальные окружения
venv/
env/

# Python-компилированные файлы
__pycache__/
*.py[cod]
*.pyo

# Базы данных
*.sqlite3
*.db

# Логи
*.log

# Секреты и переменные окружения
.env

# Сборка статики (если собираешь при деплое)
static/
media/

# IDE-шные файлы
.vscode/
.idea/
*.swp
*.swo
